<div
  style="
    text-align: center;
    margin-bottom: 86px;
    font-family: 'Roboto', sans-serif;
  "
>
  <hr
    style="
      border-top: 1px solid #d9d9d9;
      width: 513px;
      margin-top: 0;
      margin-bottom: 0;
    "
  />
  <p
    style="
      color: #938b8b;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.09px;
      margin-top: 17px;
    "
  >
    Do not reply to this automated email.
  </p>
</div>
